footer{
    background: #0E94AB;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        max-width: 1100px;
        height: 100%;
        margin: auto;
        gap:  10px;
        overflow: hidden;
        align-items: center;
        .textos-footer{
            grid-column: 1/-1;
        }
    
    }
    
}
