
@media (max-width:800px){
	.header{
		height: auto;
		display: block;
		label {
			display: block;
			background: #0E94AB;
			img{
				display: block;
				margin: auto;
				&:hover{
					background: rgba(0, 0, 0, 0.3);
				}
			}
		}
	} 

	.menu{
		text-align: center;
		&_links{
			display: grid;
			grid-template-columns: 1fr;
			grid-column: 1/-1;
			width: 100%;
			background: #0E94AB;
			top: 60px;
			left: -100%;
			position: absolute;
			text-align: center;
			transition: all .5s;
			z-index: 100; 
			li{
				background: #0E94AB;
				a{
					z-index: 100;
					position: relative;
					background: #0E94AB; 
				}
			}
		}
	}
	.checkbtn{
        display: block; 
        margin-top: 15px;               
    }
	.header-2 label{
		display: block;
		background: #0E94AB;
	}
	#btn-menu:checked ~ .menu_links {
		left: 0;
		
	}
	.item-2{
		width: 100%;
		grid-column: 1/-1;
	}



	.grid{
		grid-gap: 20px;
		display: block;
	}
	.img-hero{
		grid-column: 1/-1;
		text-align: center;
	}
	.texto-hero{
		grid-column: 1/-1;
		text-align: center;
	}
	.parrafo{
		text-align: center;
	}
	.cta{
		justify-content: center;
	}
	.service{
		height: auto;
	}
	.item{
		width: 60%;
		
	}
	.service .grid .items .item {
        width: 60%;
		margin: 30px 0;
		height: auto;
		padding: 40px;	
	}
	#btn-menu:checked ~ .menu { 
		margin: 0;
	}

}
