/* ------MAPAS-----he ha utilizado en la pagina articles.scss y blog.html en el parrafo */

$spacings:(
    xlarge: 100%,
    large: 90%,
    medium: 50%,
);

@each $var, $val in $spacings{
    .w-#{$var}  {
        width: #{$val} ;
    }
} 

/* ------EXTEND------  se aplican en la pagina contact.scss */ 



/* ------MIXINS------  se aplican en la pagina articles.scss */ 

@mixin grids($dis: grid,  $wid: 90%, , $hei: 100px, $mar: auto, $over: hidden, $align: center ){
    display: $dis;
    width: $wid;
    max-width: $max;
    height: $hei;
    margin: $mar;
    overflow: $over;
    align-items: $align; 

}
