*{
	margin: 0;
	padding: 0;
}
.navbar-collapse{
	justify-content: center;
}
.bg-light{
	background: #0E94AB !important;
}
.nav-link:hover{
	background: rgba(0, 0, 0, 0.3);;
}
.fotos{
	margin: auto;
	width: 600px;
	max-width: 100%;
	padding: 10px;
}
.row{
	justify-content: center;
	column-gap: 10px;
}
.navbar-text{
	margin: auto;
}
@media screen and (max-width:768px){
	.row{
		grid-gap: 10px
	}
}