*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*---Header----*/

.menu{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	width: 100%;
	color: #fff;
	height: 60px;
	background-color: #0E94AB;
}
.menu_links{
	list-style-type: none;
	padding: 0;
	background: #0E94AB;
	width: 100%;
	height: 60px;
	grid-column: 5/13;

}
.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 17px;
}
.menu li a:hover{
	background: rgba(0, 0, 0, 0.3);

}
#btn-menu{
	display: none;
}
.header-2 label{
	display: none;
}


/*--------- BODY ---------------- */

.container{
	margin: 40px auto;
}
.card{
	margin: 20px auto;	
}
/*----- Footer------ */

.navbar{
	background: #0E94AB !important;
    height: 70px !important;
    justify-content: center !important;
    margin-top: 30px;
}
.navbar-text{
	margin: auto;
}

/*----------------------Diseño responsive --------------*/

@media screen and (max-width:800px){
	.header-2{
		height: auto;
		display: block;
	}
	.menu{
		position: absolute;
		text-align: center;
	}
	.menu_links{
		display: grid;
		grid-template-columns: 1fr;
		grid-column: 1/-1;
	}
	.header-2 label{
		display: block;
		background: #0E94AB;
	}
	.header-2 label img:hover{
		background: rgba(0, 0, 0, 0.3);
	}
	.header-2 label img{
		display: block;
		margin: auto;

	}
	.menu{
		position:  absolute;
		width: 70;
		margin-left: -100%;
	}

	#btn-menu:checked ~ .menu {
		margin: 0;
	}
	.menu li a{
		background: #0E94AB;
		z-index: 1;
		position: relative;
	}
	
 }

@media screen and (max-width:500px){

	}
	.header-2 label img{
		display: block;
		margin: auto;

	}
}